<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
    <style>
      .demo {
        font-family: sans-serif;
        border: 1px solid #eee;
        border-radius: 2px;
        padding: 20px 30px;
        margin-top: 1em;
        margin-bottom: 40px;
        user-select: none;
        overflow-x: auto;
      }
    </style>
  </head>
  <body>
    <!-- <div id="app"></div> -->
    <div id="counter" class="demo">
      counter: {{ counter }}
      <p>{{ message }}<button v-on:click="reverseMessage">反转Message</button></p>
      <span v-bind:title="message">
        鼠标悬停几秒钟查看此处动态绑定的提示信息！
      </span>
      <br/>
      <input v-model="message" />
      <div>
        <span v-if="seen">see me</span>
      </div>
      <div>
        <ol>
          <li v-for="todo in todos">
            {{ todo.text }}
          </li>
        </ol>
      </div>
      <div>
        <ol>
          <todo-item
            v-for="item in todos"
            v-bind:todo="item"
            v-bind:key="item.id">

          </todo-item>
        </ol>
      </div>
    </div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
